*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
}
aside {
    width: 500px;
    color: #000;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    position: absolute;
    top: 430p;
    left: 100px;
}
aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
    word-wrap: normal;
}
footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class Selectors */

.box{
    border: 2px solid brown;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
}
header, .grid, footer {
    max-width: 840px;
    margin: auto;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
h1 {
    border-bottom: #000 1px;
}
