*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main {
    max-width: 700px;
}
main img {
    float: right;
    width: 150px;
    height: auto;
}
aside {
    width: 500px;
    color: #000;
}
aside h2 {
    position: absolute;
    top: 430p;
    left: 100px;
}
aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
    word-wrap: normal;
}
footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class Selectors */

.box{
    border: 2px solid brown;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
}