main {
    max-width: 700px;
}
main img {
    width: 150px;
    height: auto;
}
aside {
    width: 500px;
    margin: 5px;
    border: 1px;
    padding: 5px;
    background-color: green;
    color: #000;
}
aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}