.callout {
	box-sizing: border-box;
    width: 800px;
    margin: 15px;
    border: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
}

.callout img {
	float: right;
    margin: 10px;
    border: solid white 5px;
    padding: 0;
    background-color: 0 0 0 10%;
    width: 120px;
    height: auto;

}

blockquote {
	margin: 5px;
}

cite {
	display: block;
    border-top: 1px dotted;
    padding-top: 5px;
    text-align: end;
    font-size: smaller;
}